* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  color:white;
  background-image: url(../img/Green\ Simple\ Watercolor\ Phone\ Wallpaper.png);
  font-family: Lato, sans-serif;
  margin-top: 40px;
  background-repeat: no-repeat; 
  background-size:cover;
  width: 100vw;
  height: 100vw;
  overflow-y: hidden;
 
  
  
}
.logo{
  width:auto;
  height: 375px;
  
}
.logoNotes{
  width: inherit;
  height: inherit;
}
h1{
  color:white;
  font-size: 26px;
  text-align: center;
  margin: 20px 0;
}
.boxWorks{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.listBox{
  width: 600px;
  min-height: 500px;
  background-color:#4CACBC;
  padding: 25px;
  justify-content: center;
  border-radius: 28px;
  margin-top: 900px;
  position: absolute;
 
}
